# Project custom dev toolbar
NEXT_PUBLIC_DEV_TOOLBAR = "true"

# CurseForge API key for modpack installation (get from https://console.curseforge.com/)
# An empty key will cause CurseForge modpack installation to fail.
USTBL_CURSEFORGE_API_KEY = ""